[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
C = TW
ST = TW
L = Taipei
O = hwchiu
OU = hwchiu
CN = @CN@
[v3_req]
keyUsage = critical, digitalSignature, keyAgreement
extendedKeyUsage = serverAuth
subjectAltName = IP:@CN@
[v3_ca]
subjectAltName = IP:@CN@
